*, *::before, *::after, body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --white-100: #fff;
    --grey-50: #f9fcff;
    --grey-100: #EDF2F7;
    --grey-200: #e4e4ec;
    --grey-400: #d4cfd8;
    --grey-600: #b3abbb;
    --grey-700: #99949e;
    --grey-800: #837b8b;
    --grey-transparent: rgb(140, 133, 161, .3);
    --purple-100: #e6dbf8;
    --purple-200: #dcc7ff;
    --purple-300: #B794F4;
    --purple-400: #9F7AEA;
    --purple-500: #805AD5;
    --purple-600: rgba(149, 32, 188, .5);
    --purple-700: #800bea;
    --purple-900: #322659;
    --purple-transparent: hsla(271, 91%, 13%, 0.514);
    --cyan-100: #C4F1F9;
    --cyan-400: #0BC5EA;
    --pink-100: #FED7E2;
    --pink-400: #ED64A6;
    --teal-100: #B2F5EA;
    --teal-400: #38B2AC;
    --yellow-100: #FEFCBF;
    --yellow-100: #ECC94B;
    --orange-200: #ee6e73;
    --green-400: #48BB78;
}

body {
    background:var(--grey-100);
    display:flex;
    width:100%;
    height:100vh;
}

.router-view {
    display:flex;
    align-items:flex-start;
    justify-content: flex-start;
    width:100%;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%
    }
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}